{% extends 'header.html' %}

{% block title %}
Имя
{% endblock %}

{% block content %}
    <div class="container">
        <div class="body row justify-content-center gy-3">
            <div class="col-6" style="text-align: center">
                <p style="font-size: 40px">Вход</p>
                <br>
{#                <div>#}
{#                    <a href="{{ url_for('git_login') }}"><img src="https://i.pinimg.com/736x/b1/5e/ed/b15eedbdafbbdbca3249e3942f4faf3b.jpg" style="width: 55px"></a>#}
{#                </div>#}
{#                <p>Или</p>#}
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.hidden_tag() }}
                    {% for field, errors in form.errors.items() %}
                        <p style="font-size: 30px; color: crimson">
                            {{ ', '.join(errors) }}
                        </p>
                    {% endfor %}
                    <p style="font-size: 30px">{{ form.email.label() }} {{ form.email() }}</p>
                    <p style="font-size: 30px">{{ form.password.label() }} {{ form.password() }}</p>
                    <br>
                    <p style="font-size: 30px">{{ form.submit() }}</p>
                    <a href="{{ url_for('singup') }}" style="font-size: 25px">Регистрация</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}